{% extends 'index.html' %}
        
{% block content%}
        <div class="container-fluid" id="top" style="background-image: url(../static/img/bedroom.jpg); background-position: 50% 75%; padding: 10px;">
            <div class="div-check" id="top">
                <div class="div-check-content">
                    <input class="text-input" type="search" id="input-estadia" autocomplete="off" placeholder="Lugar de estadía" required>
                    <label class="label" for="estadia" id="label-estadia">Estadía</label>
                    <input class="date-style" type="text" name="" id="input-checkin" onclick="(this.type='date')" onblur="(this.type='text')" style="color: #fff">
                    <label class="label-date1" for="input-checkin" id="label-checkin">Check-in</label>
                    <input class="date-style" type="text" name="" id="input-checkout" onclick="(this.type='date')" onblur="(this.type='text')">
                    <label class="label-date2" for="input-checkout" id="label-checkout">Check-out</label>
                    <select class="drop-style" id="drop-habitaciones" name="drop-style">
                        <option value="">Habitaciones</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <button type="button" class="btn-style" id="btn-buscar">Buscar</button>
                </div>
            </div>
        </div> 
        <div class="segundo-nav">
            <ul class="sec-nav">
                <li><a href="#top">Inicio</a></li>
                <li><a href="#sec2">¿quiénes somos?</a></li>
                <li><a href="#sec3">galería</a></li>
                <li><a href="#sec4">reservas</a></li>
                <li><a href="#sec5">ubicación</a></li>
             </ul>
             <div class="container">
                <div class="sec2" id="sec2">
                    <br><br><br><br><br><br>
                    <h1 class="titulos">Turismo Real</h1>
                    <br><br><br>
                    <div class="row">
                        {% for x in Depto %}
                        <div class="col-sm-3 " style="background-color:#fff">
                            <div class="card text-center" style="background-color: #fff ">
                                <h4 class="card-header tit" style="text-align: center; font-size: medium;">{{ x.0 }}</h4>
                                <div class="card-body">
                                    {% if x.6 %}
                                    <img width="100%" height="100%" src="{{ x.6.url }}">
                                    {% endif %}
                                    <p class="card-text"><span> $ </span>{{ x.3 }} </p>
                                </div> 
                                <div class="card-footer " style="display: flexbox;">
                                    <a href="{% url 'depto-detail' x.0 %}" class="btn btn-info btn-sm" style="display: flexbox ;">Reservar</a>
                                </div>  
                            </div>          
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>    
        </div>
{% endblock %}
