{% extends 'dashboard.html' %}



{% block content %}
{% load static %}
<div class="container-xl px-4 mt-n10">
    <br><br><br><br><br><br>
        <br><br><br><br><br><br>
<div class="card mb-4">
    <div class="card-header">Clientes</div>
        <div class="card-body">
            <table id="lista_clientes">
            <tr>
                <th>Rut</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Celular</th>
                <th>Comuna</th>
                <th>Region</th>
                <th>Direccion</th>
                <th>Modificar</th>
                <th>Eliminar</th>

            </tr>
            
            {% for c in clientes %}
        
            <tr>
                <td>{{ c.rut | title}}</td>
                <td>{{ c.nombre | title}}</td>
                <td>{{ c.apellido | title}}</td>
                <td>{{ c.email | title}}</td>
                <td>{{ c.celular | title}}</td>
                <td>{{ c.comuna | title}}</td>
                <td>{{ c.region | title}}</td>
                <td>{{ c.direccion | title}}</td>
                
                <td><a href="{% url 'modificar_cliente' c.rut %}" class="btn btn-info btn-sm">Modificar</a></td>
                <td><a href="{% url 'eliminar_cliente' c.rut %}" class="btn btn-danger btn-sm">Eliminar</a></tr>
                
            </tr>

            {% endfor %}       
        </table>

        
        <div>
            <a class="nav-link" href="{% url 'clientes' %}" style="float: right">
                <button type="button" class="btn btn-primary btn-sm">Agregar</button>
            </a>
                            
        </div>
   

        </div>
    </div>
</div>

<!-- TABLAS -->
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script type="">
    window.addEventListener('DOMContentLoaded', event => {

    const datatablesSimple = document.getElementById('lista_clientes');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
});
</script>


{% endblock %}