{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turimos Real</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block css %}
    {% endblock %} 
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>

{%block content %}
{% load humanize %}

<br>

<div class="row">   
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h1>Inventario</h1>

                <table class = "table table-striped table-hover table-responsive-sm">
                    <tr>
                        <th>ID Depto</th>
                        <th>Jabon</th>
                        <th>Toalla</th>
                        <th>Colchon</th>
                        <th>Sabanas</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                        <th>
                            <a href="{% url 'inventario' %}" class="btn btn-success btn-sm">Agregar</a> 
                        </th>
                    </tr>
                    
                    {% for i in inventario %}
                    
                    <tr>
                        <td>{{ i.id_depto | title}}</td>
                        <td>{{ i.jabon | title}}</td>
                        <td>{{ i.toalla | title}}</td>
                        <td>{{ i.colchon | title}}</td>
                        <td>{{ i.sabanas | title}}</td>
                        <td>
                            <a href="{% url 'modificar_inventario' i.id_i %}" class="btn btn-warning btn-sm">Editar</a> 
                        </td>
                        <td>
                            <a href="{% url 'eliminar_inventario' i.id_i %}" class="btn btn-danger btn-sm">Eliminar</a> 
                        </td>
                    </tr>

                    {% endfor %}

                </table>

                <br>
                
                <a class="nav-link" href="{% url 'listar_depto' %}">
                    <button type="button" class="btn btn-danger">Atras</button>
                </a>
            </div>
        </div>        
    </div>
</div>  


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
<script src="{% static 'js/menu.js' %}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}