{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turimos Real</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block css %}
    {% endblock %} 
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>

{%block content %}
{% load humanize %}
{% load crispy_forms_tags %}
<br><br><br><br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <br><br><br>
                <h1>Pagar reserva</h1>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <fieldset>   
                    <br>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-md btn-primary" href="{%url 'reservasF' %}" style="margin:5px ;">volver</a>
                        <input class="btn btn-md btn-danger" type="submit" value="Pagar" style="margin:5px ;" onclick="Pagar()">
                        </div>
                    </div>         
                    {{mensaje}}
                </fieldset>    
                </form>    
            </div>
        </div>
    </div>
</div>
<br><br><br>
<script>
    function Pagar(){
        document.getElementById('estado_in').value = "Pagado"
        tot = document.getElementById('total').value 
        dif = document.getElementById('diferencia').value
        document.getElementById('total').value =  parseInt(tot) + parseInt(dif)
        document.getElementById('diferencia').value = 0
    }
</script>
                 
{% endblock %}