{% extends 'index.html' %}
{% block content%}
<!-- tables js -->

<div class="container-xl px-4 mt-n10">
    <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <div class="card">
            <div class="card-body">
                <h2>Mis reservas</h2>
                <table class="table table-stripped table-hover table-responsive">
                    <tr>
                        <th>ID</th>
                        <th>Precio</th>
                        <th>Fecha de llegada</th>
                        <th>Fecha de ida</th>
                        <th>Rut</th>
                        <th>Depto</th>
                        <th>Estado</th>
                        <th>Opciones</th>
                    </tr>
                    {%for x in reservas%}
                        <tr>
                            <td>{{x.0| title}}</td>
                            <td>{{x.1| title}}</td>
                            <td>{{x.2| title}}</td>
                            <td>{{x.3| title}}</td>
                            <td>{{x.4| title}}</td>
                            <td>{{x.5| title}}</td>
                            <td>{{x.6| title}}</td>
                            {%if x.6 == 'Cancelado'%}
                            <td></td>
                            {% else %}
                                <td>
                                    <a href="{% url 'cancelar' x.0 %}" class="btn btn-danger btn-sm">cancelar</a>
                                </td>
                            {%endif%}    
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-md btn-primary" href="{%url 'home' %}" style="margin:5px ;">volver</a>
                </div>
            </div> 
        </div>    
    </div>
    <br><br><br><br>   
</div>    
{% endblock %}