{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turimos Real</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% block css %}
    {% endblock %} 
    <link rel="stylesheet" href="{% static 'app/css/estilos.css' %}">
    
</head>

{%block content %}
{% load humanize %}

<div class="container-xl px-4 mt-n10">
    <br><br><br><br><br><br>
        <br><br><br><br><br><br>
    <div class="card mb-4">
        <div class="card-header">Tour</div>
            <div class="card-body">
                <table id="lista_tour">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Eliminar</th>
                        <th>Modificar</th>
                    </tr>
                    
                    {% for t in tour %}
                    
                    <tr>
                        <td>{{ t.id_tour | title}}</td>
                        <td>{{ t.nombre | title}}</td>
                        <td>{{ t.descripcion | title}}</td>
                        <td>{{ t.precio | title}}</td>
                        <td>
                            <a href="{% url 'eliminar_tour' t.id_tour %}" class = "btn btn-danger btn-sm"> Eliminar </a>
                        </td>
                        <td>
                            <a href="{% url 'modificar_tour' t.id_tour %}" class = "btn btn-primary btn-sm"> Modificar </a>
                        </td>
                    </tr>

                    {% endfor %}

                </table>

                <br>

                <div>
                    <a class="nav-link" href="{% url 'tour' %}" style="float: right">
                        <button type="button" class="btn btn-primary">Agregar</button>
                    </a>
                                    
                    <a class="nav-link" href="{% url 'servicio_extra' %}" style="float: right">
                        <button type="button" class="btn btn-outline-primary">Atras</button>
                    </a>
                </div>
            </div>
    </div>        
</div>
 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
<script src="{% static 'js/menu.js' %}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- TABLAS -->
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script type="">
    window.addEventListener('DOMContentLoaded', event => {

    const datatablesSimple = document.getElementById('lista_tour');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
});
</script>

{% endblock %}