{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turimos Real</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>


{%block content %}
{% load crispy_forms_tags %}

<div class="row">   
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <br><br><br>
                    <h1>Registrar Departamento</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                    
                       {% csrf_token %}
                       
                       {{ form | crispy }} 

                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">

                        </div>
                    
                   </form>   
            </div>        
        </div>
    </div>   
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
    {% for m in messages %}
        <script>
            Swal.fire({
                    "title":"Felicitaciones",
                    "text":"{{m}}",
                    "icon": "success"
                    })
            </script>
    {% endfor %}
{% endif %}  

{% endblock %}