{% extends 'dashboard.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turimos Real</title>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="{%static 'css/prueba.css' %}" rel="stylesheet" />
    
</head>

{% block content %}
{% load humanize %}
<div class="container-xl px-4 mt-n10">
    <br><br><br><br><br><br>
        <br><br><br><br><br><br>
    <div class="card mb-4">
        <div class="card-header">Departamentos</div>
            <div class="card-body">
                <table id="lista_deptos">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Habitaciones</th>
                    <th>Precio</th>
                    <th>Disponible</th>
                    <th>Comuna</th>
                    <th>Region</th>
                    <th>Modificar</th>
                    {% for x in usuario %}
                        {% if x.10 == 1%}
                        <th>Eliminar</th>
                        {% endif %}    
                {% endfor %}
                </tr>
                {% for p in departamentos %}
                    <tr>
                        <!-- ID -->
                        <td>{{ p.id_depto }}</td>

                        <!-- NOMRBE -->
                        <td>{{ p.nombre | title }}</td>

                        <!-- HABITACIONES -->
                        <td>{{ p.habitaciones }}</td>

                        <!-- PRECIO -->
                        <td>$ {{ p.precio | intcomma }}</td>

                        <!-- DISPONIBLE -->
                        <td>
                            {% if p.disponible %}
                            SI
                            {% else %}
                            NO
                            {% endif %}
                        </td>
                        
                        <!-- COMUNA -->

                        <td>{{ p.comuna|title }}</td>
                    
                        <!-- REGION -->
                        <td>{{ p.region|title }}</td>

                        <!-- OPCIONES -->
                        <td><a href="{% url 'modificar_depto' p.id_depto %}" class="btn btn-info btn-sm">Modificar</a></td>
                        {% for x in usuario %}
                            {% if x.10 == 1%}
                                <td><a href="#" onclick="eliminarDepto({{ p.id_depto }})" class="btn btn-danger btn-sm">Eliminar</a></td>
                            {% endif %}    
                        {% endfor %}  
                    </tr>
                {% endfor %}
            </table>

            
                <div>
                <center>
                    <a class="btn btn-warning btn-sm" href="{% url 'listar_inventario' %}" role="button" style='width:180px; height:35px'>Inventario Departamento</a>
                    {% for x in usuario %}
                        {% if x.10 == 1%}
                            <a class="btn btn-success btn-sm" href="{% url 'agregar_depto' %}" role="button" style='width:180px; height:35px'>Añadir Departamento </a>
                        {% endif %}    
                    {% endfor %}
                </center>
                </div>
               
            
        </div>
    </div>
</div>
{% block js %}

<script>
    function eliminarDepto(id_depto){
        Swal.fire({
            "title":"¿Estás seguro que deseas eliminar?",
            "text": "Esta acción no se puede deshacer",
            "icon":"question",
            "showCancelButton": true,
            "cancelButtonText": "No, Cancelar",
            "confirmButtonText":"Si, Eliminar",
            "reverseButtons":true,
            "confirmButtonColor":"#dc3545"

        })
        .then(function(result){
            if(result.isConfirmed){
                window.location.href = "/eliminar-depto/"+ id_depto+"/"
            }
        })
    } 

</script>

{% endblock %}

<!-- TABLAS -->
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>
<script type="">
    window.addEventListener('DOMContentLoaded', event => {

    const datatablesSimple = document.getElementById('lista_deptos');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
});
</script>

{% endblock %}