{% extends 'index.html' %}

{% block content%}

  <form id="regForm" action="" method="post">
    {% csrf_token %}
    <!-- PRIMER PASO -->
    <div class="tab ">
      <h1>INFORMACIÓN PERSONAL</h1>
      <br>
      {% for x in user %}
      <!-- NOMBRE -->
        <input class="text-input-form" id="input-nombre" value="{{x.1}}" placeholder="Nombre" name="fname">
        <label class="label label-form" id="label-nombre" for="input-nombre">Ingrese su nombre</label>
        <!-- APELLIDO -->
        <input class="text-input-form" id="input-apellido" value="{{x.2}}" placeholder="Apellido" name="lname">
        <label class="label label-form" id="label-apellido" for="input-apellido">Ingrese su apellido</label>
        <!-- EMAIL -->
        <input class="text-input-form" id="input-email" value="{{x.4}} "placeholder="ejemplo@gmail.com" name="email">
        <label class="label label-form" id="label-email" for="input-email">Ingrese su email</label>
        <!-- TELEFONO -->
        <input class="text-input-form" id="input-telefono" value="{{x.5}}" placeholder="000000000" name="phone">
        <label class="label label-form" id="label-telefono" for="input-telefono">Ingrese su número de teléfono</label>
      {% endfor %}
    </div>
    <!-- SEGUNDO PASO -->
    <div class="tab">
      <h2>DETALLE DEPTO</h2>
      <br>
      Titulo:
      <p><input  oninput="this.className = ''" name="tit" value="{{ depto.nombre }}"></p>
      Descripcion:
      <p><input  oninput="this.className = ''" name="des" value="{{ depto.descripcion }}"></p>
      Precio:
      <p><input  oninput="this.className = ''" name="pre" value="{{ depto.precio }}"></p>
      Habitaciones:
      <p><input  oninput="this.className = ''" name="hab" value="{{ depto.habitaciones }}"></p>
    </div>
    <!-- TERCER PASO -->
    <div class="tab">
      <h2>SERVICIO EXTRA</h2>
      <br>
      <!-- modal de transporte -->
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalLg">Transporte</button>
      <div class="modal fade" id="exampleModalLg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Lista de transportes</h5>
                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      {% for x in trasnporte %}
                        <div class="card card-header-actions">
                            <div class="card-header">
                                {{x.precio}}
                                <button class="btn btn-primary btn-sm">seleccionar</button>
                            </div>
                            <div class="card-body">
                              Descripcion:<p>{{x.descripcion}}</p>
                              Conductor:<p>{{x.conductor}}</p>
                              Patente:<p>{{x.patente}}</p>
                              Modelo:<p>{{x.modelo}}</p>
                              Marca:<p>{{x.marca}}</p>
                            </div>
                        </div>
                      {% endfor %}
                  </div>
                  <div class="modal-footer"><button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button></div>
              </div>
          </div>
      </div>
      <!-- modal de tour -->
      <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModalLg1">Tours</button>
      <div class="modal fade" id="exampleModalLg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title">Tours</h5>
                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      {% for x in tour %}
                        <div class="card card-header-actions">
                            <div class="card-header">
                                {{x.precio}}
                                <button class="btn btn-primary btn-sm">seleccionar</button>
                            </div>
                            <div class="card-body">
                              Descripcion:<p>{{x.descripcion}}</p>
                              Guia:<p>{{x.nombre_completo_guia}}</p>
                            </div>
                        </div>
                      {% endfor %}
                  </div>
                  <div class="modal-footer"><button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button></div>
              </div>
          </div>
      </div>
    </div>
    <div class="tab">
      <h2>PAGO</h2>
      <hr>
      <p>
          Listo!! tu reserva esta casi listo al hacer click en pagar se te rediccionara a la plataforma de pagos:)
      </p>
    </div>
    <div style="overflow:auto;">
      <div style="float:right; margin-top: 50px;">
        <button class="btn-step" type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button class="btn-step" type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
      </div>
    </div>
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>

{% endblock %}