{% extends 'index.html' %}

{% block content%}

  <form id="regForm" action="{% url 'pago' %}" method="post">
    {% csrf_token %}
    <!-- PRIMER PASO -->
    <div class="tab ">
      <h1>INFORMACIÓN PERSONAL</h1>
      {% for x in usuario %}
        <!-- RUT -->
        <input class="text-input-form" id="input-rut" value="{{x.0}}" placeholder="Rut" name="Rut">
        <label class="label-form" id="label-rut" for="input-nombre">RUT</label>
        <!-- NOMBRE -->
        <input class="text-input-form" id="input-nombre" value="{{x.1}}" placeholder="Nombre" name="fname">
        <label class="label-form" id="label-nombre" for="input-nombre">Nombre</label>
        <!-- APELLIDO -->
        <input class="text-input-form" id="input-apellido" value="{{x.2}}" placeholder="Apellido" name="lname">
        <label class="label-form" id="label-apellido" for="input-apellido">Apellidos</label>
        <!-- EMAIL -->
        <input class="text-input-form" id="input-email" value="{{x.4}} "placeholder="ejemplo@gmail.com" name="email">
        <label class="label-form" id="label-email" for="input-email">Email</label>
        <!-- TELEFONO -->
        <label class="label-form" id="label-telefono" for="input-telefono">Teléfono</label>
        <input class="text-input-form" id="input-telefono" value="{{x.5}}" placeholder="000000000" name="phone">
        
      {% endfor %}
    </div>
    <!-- SEGUNDO PASO -->
    <div class="tab">
      <h1>DETALLE DEPTO</h1>
      <p><input oninput="this.className = ''" name="id_depto" value="{{ depto.id_depto }}" style="display: none ;"></p>
      <label class="label-form" id="label-titulo" for="tit_depto">Título</label>
      <p><input class="text-input-form" id="tit_depto" name="tit_depto" value="{{ depto.nombre }}" ></p>
      <label class="label-form" id="label-descripcion" for="des_depto">Descripcion</label>
      <p><input class="text-input-form" id="des_depto" name="des_depto" value="{{ depto.descripcion }}" ></p>
      <label class="label-form" id="label-precio" for="precioD">Precio</label>
      <p><input class="text-input-form" id="precioD" name="precioD" value="{{ depto.precio }}" type="number"></p>
      <label class="label-form" id="label-habitaciones" for="habitaciones">Habitaciones</label>
      <p><input class="text-input-form" id="habitaciones" name="habitaciones" value="{{ depto.habitaciones }}" ></p>
    </div>
    <!-- TERCER PASO RANCIO -->
    <div class="tab">
      <h1>Fecha de inicio y término</h1>
      <br>
      <p>
        Fecha de inicio:
      </p>
      <!-- <p><input class="date-style" type="date" name="" id="check_in" placeholder="Fecha de llegada" onclick="(this.type='date')" onblur="(this.type='text')" style="color: #fff"></input></p> -->
      <p><input  oninput="this.className = ''" name="check_in" value="" type="date"></p>
      <p>
        Fecha de término:
      </p>
    <!-- <p><input class="date-style" type="date" name="" id="check_out" placeholder="Fecha de ida" onclick="(this.type='date')" onblur="(this.type='text')" style="color: #fff"></input></p> -->
      <p><input  oninput="this.className = ''" name="check_out" value="" type="date"></p>
    </div>
    <br><br>
    <div class="tab">
      <h1>¡Listo! Tu reserva está casi lista. Al hacer click en <b>Pagar</b> se te rediccionará a la plataforma de pago &#128512;</h1>
    </div>
    <div style="overflow:auto;">
      <div style="float:right; margin-top: 50px;">
        <button class="btn-step" type="button" id="prevBtn" onclick="nextPrev(-1)">Anterior</button>
        <button class="btn-step" type="button" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
        <!-- <input class="btn btn-md " id="payBtn" type="submit" style="background-color: #f49237;" value="pagar"> -->
      </div>
    </div>
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
  </form>

{% endblock %}