header {
    display: flex;
   justify-content: space-around;
   display: grid;
    align-items: center; 

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #eee;
    height: 4rem;
    z-index: 1;
}

.burger-wrapper {
    cursor: pointer;
}

.div-check {
    display: grid;
    align-items: center; 
    height: 200px;
    margin: 100px 20% 30px 20%;
    width: 60%;
    margin-left: 20%;
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(5px);
}

.div-check-content {
   display: flex;
   justify-content: space-around;
}

.label {
    position: absolute;
    left: 3%;
    top: 88px;
    font-size: 18px;
    transition: all 0.2s;
    /* padding: 0 2px; */
    z-index: 1;
    color: #b3b3b3;
}

.label-date1 {
    position: absolute;
    left: 23%;
    top: 88px;
    font-size: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.label-date2 {
    position: absolute;
    left: 43%;
    top: 88px;
    font-size: 18px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input {
    padding-left: 10px; 
    width: 17%;
    margin: 10px;
    height: 65px;
    border: 2px solid #785a3f;
    background: #24262b;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before {
    content: "";
    height: 5px;
    background: #272530;
    background-color: #24262ba7;
    position: absolute;
    /* left: 0px; */
    top: 12px;
    width: 100%;
    z-index: -1;
}

.label-date1::before {
    content: "";
    height: 5px;
    background: #272530;
    background-color: #24262ba7;
    position: absolute;
    /* left: 0px; */
    top: 12px;
    width: 100%;
    z-index: -1;
}

.label-date2::before {
    content: "";
    height: 5px;
    background: #272530;
    background-color: #24262ba7;
    position: absolute;
    /* left: 0px; */
    top: 12px;
    width: 100%;
    z-index: -1;
}


.text-input:focus {
    border: 2px solid #f49239;
}

.text-input:focus + .label,
.filled {
    top: 55px;
    color: #f49239;
    font-size: 14px;
}

.date-style:focus + .label-date1,
.filled {
    top: 55px;
    color: #f49239;
    font-size: 14px;
}

.date-style:focus + .label-date2,
.filled {
    top: 55px;
    color: #f49239;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder {
    opacity: 1;
}

.btn-style {
    border: 2px solid #785a3f;
    background: #24262b;
    border-radius: 5px;
    font-size: 18px;
    color: #b3b3b3;
    transition: all 0.3s;
}

#btn-buscar {
    width: 17%;
    margin: 10px;
    height: 65px;
    border: 2px solid #785a3f;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s;
}

#btn-dashboard{
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
}

#btn-login {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
    height: 40px;
}

.btn-style:hover {
    color: #24262b;
    background-color: #f49239;
}

.btn-style:active {
    color: #fff;
    background-color: #24262b;
}

.date-style {
    padding-left: 10px; 
    padding-right: 5px;
    width: 17%;
    margin: 10px;
    height: 65px;
    border: 2px solid #785a3f;
    background: #24262b;
    border-radius: 5px;
    font-size: 18px;
    color: #b3b3b3;
}

.date-style:focus {
    outline: none;
    border-color: #f49239;
    transition: all 0.3s;
}

.drop-lang {
    float: right;
    margin-top: 10px;
    margin-right: 70px;
    width: 100px;
    height: 40px;
    border: 2px solid #785a3f;
    background: #24262b;
    border-radius: 5px;
    font-size: 18px;
    color: #b3b3b3;
}

.drop-style {
    padding-left: 10px; 
    width: 17%;
    margin: 10px;
    height: 65px;
    border: 2px solid #785a3f;
    background: #24262b;
    border-radius: 5px;
    font-size: 18px;
    color: #b3b3b3;
}

.drop-style:focus {
    outline: none;
    border-color: #f49239;
    transition: all 0.3s;
}

/*CHECKIN - CHECKOUT RESPONSIVE */
@media (max-width: 1000px) {
    .div-check {
        display: flex;
        align-items: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
    }
    .div-check .div-check-content, #input-estadia, 
    #input-checkin, #input-checkout, #drop-habitaciones, #btn-buscar{
        width: 90%;
        margin: 10px auto 10px auto;
        display: block;
    }
    #label-estadia, #label-checkin, #label-checkout{
        left: 13%;
        font-size: 18px;
    }
    #label-estadia{
        top: 37px;
    }
    #label-checkin{
        top: 114px;
    }
    #label-checkout{
        top: 188px;
    }
    #input-estadia:focus + #label-estadia,
    .filled {
        top: 7px;
        color: #f49239;
        font-size: 14px;
    }
    #input-checkin:focus + #label-checkin,
    .filled {
        top: 82px;
        color: #f49239;
        font-size: 14px;
    }
    #input-checkout:focus + #label-checkout,
    .filled {
        top: 157px;
        color: #f49239;
        font-size: 14px;
    }
}

/* NAVBAR/SIDEBAR */
#meny {
    background-color: rgba(0, 0, 0, 0.400);
    backdrop-filter: blur(5px);
    width: 20rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    transition: 0.5s;
    z-index: 1;
}

#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    position: absolute;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #000;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

.sidenav a {
    margin-top: 50px;
    margin-left: 110px;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    /* z-index: 9; */
  }
  
  .sidenav a:hover {
    color: #f49239;
  }

/*Footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-footer{
    max-width: 1170px;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.ul-footer{
    list-style: none;
}

.footer{
    background-color: #24262b;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col .h4-footer{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative; 
    text-decoration: underline solid #f49239 2px;
    text-underline-position: under;
}

.footer-col .ul-footer .li-footer:not(:last-child){
    margin-bottom: 10px;
}

.footer-col .ul-footer .li-footer .a-footer{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .ul-footer .li-footer .a-footer:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links .a-footer{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links .a-footer:hover{
    color: #24262b;
    background-color: #f49239;
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
