/* * {
  box-sizing: border-box;
} */

body {
  background-color: #ffffff;
}

#regForm {
  background-color: #eeeaea;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

.label-form {
  position: absolute;
  transition: all 0.2s;
  font-size: 17px;
  z-index: 0;
  color: #f49239;
  opacity: 1;
}

#label-rut {
  top: 167px;
  padding-left: 3px;
  z-index: 1;
}


#label-nombre {
  top: 256px;
  padding-left: 3px;
  z-index: 1;
}

#label-apellido {
  top: 346px;
  padding-left: 3px;
  z-index: 1;
}

#label-email {
  top: 435px;
  padding-left: 3px;
  z-index: 1;
}

#label-telefono {
  top: 525px;
  padding-left: 3px;
  z-index: 1;
}

#label-titulo {
  top: 174px;
  padding-left: 3px;
  z-index: 1;
}

#label-descripcion {
  top: 279px;
  padding-left: 3px;
  z-index: 1;
}

#label-precio {
  top: 383px;
  padding-left: 3px;
  z-index: 1;
}

#label-habitaciones {
  top: 488px;
  padding-left: 3px;
  z-index: 1;
}

.label-form{
  margin-top: 50px;
  margin-left: 10px;
}

.text-input-form {
  padding: 10px;
  margin-top: 40px;
  width: 100%;
  font-size: 17px;
  border: 2px solid #f49239;
  background: #24262b;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s;
  color: #fff;
}

.label-form::before {
  content: "";
  height: 2px;
  background-color: #24262b;
  position: absolute;
  top: 16px;
  width: 100%;
  z-index: -1;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

.btn-step {
  border: 2px solid #785a3f;
  background: #24262b;
  border-radius: 5px;
  font-size: 18px;
  color: #b3b3b3;
  transition: all 0.3s;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-step:hover {
  color: #24262b;
  background-color: #f49239;
}

.btn-step:active {
  color: #fff;
  background-color: #24262b;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #24262b;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #f49239;
  opacity: 10;
}